.profile-background {
    object-fit: none;
}

.profile {
    margin-top: -50%;
    border: 2px solid #ffffff;
}

.no-underline:hover {
    text-decoration: none;
  }

.about-background {
    max-height: 300px;
}