.profile {
    margin-top: -50%;
    border: 2px solid #ffffff;
}

.section-profile {
    margin-top: -15%;
}

.no-underline:hover {
    text-decoration: none;
  }

.about-background {
    max-height: 300px;
}

.text-break-word { 
    word-wrap: break-word; 
}