@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed|Ubuntu+Mono:400,400i,700,700i|Ubuntu:300,300i,400,400i,500,500i,700,700i');

//Font Family

$font-family-sans-serif: 'Ubuntu', sans-serif;
$font-family-serif:      'Ubuntu Condensed', serif;
$font-family-monospace:  'Ubuntu Mono', monospace;
//$font-family-base:       $font-family-sans-serif !default;

//Variables

$purple: #865FC5;
$blue: #0078D7;
$cyan: #33ADCF;
$pink: #CB2E6D;
$orange: #D97634;
$green: #2CB261;
$dark-blue: #3A5068;
$dark: #231F20;
$gray-white: #F4F5F7;
$gray-dark: #353333DB;
$white: #FFFFFF;

//Overwrite

$theme-colors: (
  "primary": #283E4A,//$purple,
  "secondary": #2F4F4F,//$blue,
  "dark": $dark,
  "cyan": $cyan,
  "pink": $pink,
  "orange": $orange,
  "green": $green,
  "dark-blue": $dark-blue,
  "gray-white": $gray-white,
  "gray-dark": $gray-dark
);

$colors: (
  "dark-blue": $dark-blue,
  "gray-white": $gray-white,
  "gray-dark": $gray-dark,
  "white": $white
);

@import "../node_modules/bootstrap/scss/bootstrap";